/.minecraft/crash-reports/
/.minecraft/defaultconfigs/
/.minecraft/downloads/
/.minecraft/logs/
/.minecraft/saves/
/.minecraft/screenshots/
/.minecraft/server-resource-packs/
/.minecraft/shaderpacks/
/.minecraft/texturepacks/
/.minecraft/xaero/
/.minecraft/.cache/
/.minecraft/coremods/
/.minecraft/realms_persistence.json
/.minecraft/usercache.json
/.minecraft/usernamecache.json
/.minecraft/mods/
/.minecraft/XaeroWaypoints_BACKUP240807/
/.minecraft/command_history.txt
/.minecraft/config/roughlyenoughitems/
/.minecraft/config/iris.properties
/.minecraft/config/waystones-common-*
